<!doctype html>

<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
        <meta property="og:title" content="All tech meetups in Turku on one
        page">
        <meta property="og:description" content="Find the upcoming meetups in
        Turku with one glance.">

        <title>Meetups Turku</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/static/assets/main.css">
    </head>

    <body>

        <a href="https://github.com/hamatti/meetup-turku"><img style="position: absolute; top:
            0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

        <div class="container">
            <div class="row header">
                <div class="col-md-12 header">
                    <h1>Meetup Turku</h1>
                    <p class="tagline">Find the best tech meetups in Turku from
                    one place.</p>
                </div>
            </div>
            {% for row in meetups|batch(3) %}
            <div class="row">
                {% for meetup in row %}
                <div class="col-md-4">
                    <div class="meetup">
                        <div class="meetup-logo">
                            <center>
                                <img src="/static/assets/images/logos/{{meetup.logo}}">
                            </center>
                        </div>
                        <h1><a href="{{meetup.url}}" target=_blank>{{
                                meetup.meetup_name }} </a></h1>
                        <div class="next_event">
                            <h3>{% if meetup.next_event %}
                                <a href="{{meetup.next_event.event_url
                                    }}" target=_blank>{{
                                    meetup.next_event.html|safe }}</a>
                                {% else %}
                                No upcoming events
                                {% endif %}
                            </div>
                        </h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
                           </div>
            </div>
        </div>
     <footer>

            <div class="updated">Updated: {{ updated }}</div>
            <div>
            If your meetup is missing or you want something on this site
            changed, create an issue / a pull request in <a
                href="https://github.com/hamatti/meetup-turku">Github</a> or
            tweet to <a href="https://twitter.com/hamatti">@hamatti</a>
            </div>
            </footer>

    </body>

</html>

